# Dependencies
node_modules/

# Environment variables & secrets (JANGAN PERNAH commit file ini)
.env
.env.local
.env.*.local

# Vercel
.vercel

# OS / editor junk
.DS_Store
Thumbs.db

# Build cache (opsional, kalau build tailwind lokal)
dist/*.map

# Leftover/testing files
Test.txt
.env*
